# App
APP_NAME=TEA PTS
APP_URL=http://localhost:3000
APP_VERSION=

PORT=3000
## develpoment | production | test
NODE_ENV=development

# JWT
JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=
## Uma lista de audiências separadas por vírgula. Veja: https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.3.
JWT_AUDIENCE= 

# Database
DB_USER=docker
DB_PASSWORD=docker
DB_NAME=teapts
DB_DOMAIN=localhost
DB_PORT=5432

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_DOMAIN}:${DB_PORT}/${DB_NAME}?schema=public"

BASE_URL=http://127.0.0.1:3000
